<div class="page-content">
    <app-header></app-header>
    <app-home></app-home>
    <app-about></app-about>
    <app-skills></app-skills>
    <app-curriculum-vitae></app-curriculum-vitae>
    <app-projects></app-projects><br>
    <!-- <app-references></app-references> -->
    <!-- <app-contact></app-contact> -->
    <footer class="footer">
      <p> Copyright © 2023<span *ngIf="currentYear !== 2023">-<span>{{currentYear}}</span></span> By Ayomide Adekoya.</p>
      <!-- <p> Copyright © 2023<span *ngIf="currentYear !== 2023">-<span>{{currentYear}}</span></span> By Ayomide Adekoya.</p> -->

    </footer>
</div>
